<footer class="footer">
    <p class="footer-text">© @DateTime.Now.Year cpike</p>
    <a href="https://github.com/cpike5" class="footer-link" target="_blank" rel="noopener noreferrer">GitHub</a>
</footer>
