<div class="work-item">
    <h3 class="work-title">@Title</h3>
    <p class="work-description">@Description</p>
</div>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Description { get; set; } = string.Empty;
}
